.todo-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-footer p {
  font-size: 20px;
}

.clear-all-btn {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  background: rgb(142, 73, 232);
}

.clear-all-btn:hover {
  cursor: pointer;
  background-color: rgb(99, 47, 167);
}

@media (max-width:425px) and (min-width:355px) {
  .clear-all-btn {
    font-size: 14px;
  }
  .todo-footer p {
    font-size: 16px;
  }
}

@media (max-width:354px) {
  .clear-all-btn {
    padding: 3px 4px;
    font-size: 12px;
  }
  .todo-footer p {
    font-size: 14px;
  }
}
