.todo-container {
  width: 35%;
  min-height: 25dvh; 
  background-color: #ffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.todo-container h1 {
  margin: 1rem 0;
}

@media (max-width: 1080px) {
  .todo-container {
    width: 60%;
  }
}

@media (max-width: 830px) {
  .todo-container {
    width: 80%;
  }
}